* {
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    background-color: #FFCEFE;
    height: 9vh;
    font-family: poppins;
}

nav div {
    display: flex;
    align-items: center;
    flex: 50%;
}

nav .left-side {
    padding-left: 75px;
}

nav .left-side ul {
    display: flex;
    list-style-type: none;
}

nav #active {
    font-weight: bold;
}

nav .btn-home {
    margin-left: 50px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    /* font-weight: bold; */
}

nav .btn-myProject {
    margin-left: 50px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav .right-side {
    display: flex;
    justify-content: flex-end;
    padding-right: 75px;
}

nav .right-side a {
    font-size: 15px;
    padding: 5px 20px;
    background-color: #000040;
    border-radius: 8px;
    color: #fffbf5;
    text-decoration: none;
}

nav .right-side a:hover {
    font-size: 15px;
    padding: 5px 20px;
    background-color: #0000ca;
    border-radius: 8px;
    color: #fffbf5;
    text-decoration: none;
}